# Virtual Environments
venv/
ENV/
.venv/
myenv

# Python/Django
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.pot
*.py~
*.swp
*.swo
db.sqlite3               
media/         

# Temporary files
tmp/
temp/
.vscode